@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Menus Sample</h1>
    <p>This is a menu sample, created with minimal data to show the way to achieve dynamic contents using PartialView and Components</p>
</div>
