@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>425.555.0100</span>
    </p>
    <p>
        <span class="label">After Hours:</span>
        <span>425.555.0199</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span><a href="mailto:gaurav@gaurav-arora.com">gaurav@gaurav-arora.com</a></span>
    </p>
    <header>
        <h3>Web</h3>
    </header>
    <p>
        <span class="label">Web Site:</span>
        <span><a href="http://gaurav-arora.com">Gaurav Arora's Blog</a></span>
    </p>
    <p>
        <span class="label">Creating ASP.Net WebAPi:</span>
        <span><a href="http://gaurav-arora.com/crud-operations-with-asp-net-web-api-using-fluentnhibernate-repository-pattern/">Demo :: ASP.Net Web API </a></span>
    </p>

</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        One Microsoft Way<br />
        Redmond, WA 98052-6399
    </p>
</section>