@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To learn more about this article visit
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                This describes <mark>how to consume ASP.NET WEB API using RestSharp</mark>.
                If you have any questions about ASP.NET MVC visit
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
            </p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
        Before going through this article, you should read my earlier article where I
        described <mark>CRUD Operations with ASP.Net Web API using FluentNHibernate, Repository pattern</mark>.
        <a href="http://gaurav-arora.com/crud-operations-with-asp-net-web-api-using-fluentnhibernate-repository-pattern/" title="Crud Operations aspnet webapi">Learn more…</a>
    </li>

    <li class="two">
        <h5>Get WEB API URIs</h5>
        You can see complete list of WEB API URIs and try with your own application.
        <a href="http://crudwithwebapi.azurewebsites.net/" title="Demo crudwithwebapi">Check here</a>
    </li>

    <li class="three">
        <h5>More updates</h5>
        You can find more update by joining our page. Here we offer many exciting things. Free <mark>
                                                                                                   online/offline training, videos, articles, news</mark> etc.
        <a href="https://facebook.com/blog.gaurav" title="Facebook page of Gaurav Arora">Join us</a>
    </li>
    <li class="four">
        <h5>Source code</h5>
        You can download and use the complete source. <a href="https://github.com/garora/somestuff/tree/master/consumewebapi" title="Download source code">Download</a>
    </li>
</ol>
